h1{
    text-align: center;
    background-color: rgb(104, 238, 70);
    color: rgb(241, 11, 99);
}
h3#ar{
    text-align: right;
}
h3#ar1{
    text-align: left;
}
h3#ar2{
    text-align: center;
}
h3#a{
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
}
h3#a1{
    text-align: center;
    text-decoration: line-through;
    text-transform: lowercase;
}
h3#a2{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}
h2#le{
    letter-spacing: 20px;
}
p{
    line-height: 50px;
    font-size: 25px;
}
h2#we{
    word-spacing: 30px;
    text-align: center;
}
h2#re{
    text-align: center;
    text-shadow: 5px 3px rgb(248, 6, 6);
}