/* default css */
body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a,span{
    font-family: 'Rubik', sans-serif;
}
img{
    max-width: 100%;
}


/* Main menu dropdown */
nav{
    z-index: 99;
}
.menu-Bar ul li{
    position: relative;
    display: inline-block;
}
.menu-Bar ul li ul{
    position: absolute;
    left: 0;
    top: 160%;
    width: 230px;
    background: #fff;
    box-shadow: 1px 1px 20px 0px #a5a0a0;
    list-style-type: none;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.menu-Bar ul li ul li{
    display: block;
    padding: 10px 0px;
    transition: 0.4s;
}
.menu-Bar ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px;
    color: #111;
    font-weight: 500;
    transition: 0.3s;
}
.menu-Bar ul li a i{
    margin-left: 5px;
}
.menu-Bar ul li ul li a{
    display: block;
}
.menu-Bar ul li a:hover{
    color: #e73c3e;
}
.menu-Bar ul li:hover ul{
    top: 100%;
    opacity: 1;
    visibility: visible;
}
.menu-Bar ul li ul li:hover{
    color: #e73c3e;
    transform: translateX(5px);
}


/* mainmenu rightside part design */
.search-icon{
    border-right: 1px solid #bebebe;
}
.search-icon span i{
    font-size: 25px;
}
.call-Icon span i{
    font-size: 25px;
    color: #e73c3e;
    transform: rotate(-45deg);
}
.numberPart h6{
    color: #606060;
}
.Default-buttn-part .DefaultButton{
    padding: 12px 30px;
    background: #e73c3e;
    color: #fff;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 400;

    position: relative;
    z-index: 1;
}
.Default-buttn-part .DefaultButton::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background: #111;
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: center;
    z-index: -1;
    transition: 0.3s;
}
.Default-buttn-part .DefaultButton:hover::after{
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}


/* Slider Section */
.slider-section{
    background: url(./image/main-banner2.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.slider-content-left{
    height: 100vh;
    display: flex;
    align-items: center;
}
.slider-section .slider-content h6{
    color: #e73c3e;
}
.slider-section .slider-content h1{
    font-weight: 500;
    font-size: 70px;
}
.slider-section .slider-content p{
    margin-bottom: 40px;
}
.banner-social-icon ul{
    list-style: none;
}
.banner-social-icon ul li{
    position: relative;
}
.banner-social-icon ul li:first-child{
    padding-right: 20px;
}
.banner-social-icon ul li:nth-child(2){
    padding-left: 20px;
}
.banner-social-icon ul li span::after{
    content: "";
    width: 30px;
    height: 1px;
    background-color: #000;
    position: absolute;
    right: -19px;
    bottom: 17px;
}
.banner-social-icon ul li a{
    color: #000;
    font-size: 20px;
    padding: 5px 10px;
}
.banner-social-icon ul li a:hover{
    color: #e73c3e;
}


/* Logo picture part css */
.logoPicSection{
    border-bottom: 1px solid #606060;
}
.sobLogoPic ul{
    list-style: none;
}

/* About company part css */
.aboutCompany{
    padding: 100px 0px;
}
.aboutImage{
    position: relative;
}
.aboutSubImage{
    position: absolute;
    right: 80px;
    bottom: 20px;
    width: 200px;
    height: 200px;
    background: url(./image/shape.png) no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subImage-content h1{
    font-size: 60px;
    font-weight: 600;
    color: #e73c3e;
}
.subImage-content p{
    font-weight: 500;
}
.aboutcontentMain h6{
    color: #e73c3e;
    font-weight: 400;
}
.aboutcontentMain h1{
    font-weight: 400;
}
.aboutcontentMain ul{
    list-style: none;
    padding-left: 0;
    padding: 20px 0px;
}
.aboutcontentMain ul li{
    margin-bottom: 10px;
}
.aboutcontentMain ul li:last-child{
    margin-bottom: 0;
}
.aboutcontentMain ul li i{
    color: #e73c3e;
    font-size: 25px;
    margin-right: 10px;
}


/* popular section part css */
.popularSection{
    background-color: #f9fafb;
    padding: 50px 0px;
}
.popularSecL{
    position: relative;
}
.popularSecL h6{
    color: #e73c3e;
}
.popularSecL .animationDiv{
    width: 90px;
    height: 90px;
    line-height: 90px;
    display: inline-block;
    text-align: center;
    color: #e73c3e;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 260px;
    bottom: 45px;
    font-size: 40px;
}
.popularSecL .animationDiv::after{
    content: "";
    width: 90px;
    height: 90px;
    background-color: #e73c3e;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;

    animation: arif 1s infinite;
}
@keyframes arif{
    0%{
        transform: scale(0);
        opacity: 1;
    }
    25%{
        transform: scale(1.25);
        opacity: .50;
    }
    50%{
        transform: scale(1.50);
        opacity: .25;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
.popularSecR{
    background-color: #fff;
    padding-top: 40px !important;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
}
.popularSecR::before {
	content: "";
	position: absolute;
	top: -65px;
	left: 8px;
	width: 95%;
	height: 50%;
	background-color: #fdebeb;
	border-radius: 50%;
}
.innerIconPop{
	width: 80px;
	height: 80px;
	line-height: 80px;
	margin: auto;
	font-size: 40px;
	border-radius: 50%;
	background-color: #fff;
    color: #e73c3e;
    position: relative;
    margin-top: -20px;
    transition: 0.5s;
}
.popularSection .popularSecR:hover{
    transform: translateY(-10px);
}
.popularSection .popularSecR:hover .innerIconPop{
    background-color: #e73c3e;
    color: #fff;
}


/* System Section part */
.systemLeftPart h2 {
	font-weight: 400;
	margin-bottom: 30px;
}
.sytemLeftContent ul{
    list-style: none;
    position: relative;
    padding-left: 40px;
}
.sytemLeftContent ul::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 15%);
    width: 2px;
    background-color: #e73c3e;
}
.sytemLeftContent ul li{
    position: relative;
}
.sytemLeftContent ul li::before{
    content: attr(data-count);
    position: absolute;
    left: -60px;
    top: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f9fafb;
    border: 1px solid #e73c3e;
    border-radius: 50%;
}
.sytemLeftContent ul li strong {
	font-size: 23px;
	padding-bottom: 5px;
	display: block;
}
.sytemLeftContent ul li p{
	padding-bottom: 7px;
}

.systemRightPart{
    background-color: #fdebeb;
    padding: 60px 40px;
}
.systemRightPartForm .DefaultButton{
    padding: 15px 208px;
}
.systemRightPartForm input{
    border: none;
    border-radius: 0;
    padding: 10px 17px;
}
.systemRightPartForm select{
    height: 50px;
}
.systemRightPartForm .form-group{
    padding-bottom: 10px;
}
.systemRightPartForm .form-group:last-child{
    padding-bottom: 40px;
}


/* About Section css */
.Contactpart{
    background: #e73c3e;
    height: 200px;
    width: auto;
    padding: 50px;
    margin: 80px 0px;
    border-radius: 5px;
}
.Contactpart h1 {
	color: #fff;
	font-size: 35px;
	font-weight: 400;
    border-right: 1px solid #fff;
}
.phoneIconL{
    font-size: 30px;
    color: #e73c3e;
	background: #fff;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
}
.phoneIconL i{
    transform: rotate(-40deg);
}
.NumberpartR{
    font-size: 40px;
}
.NumberpartR a{
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    transition: 0.3s;
}
.NumberpartR a:hover{
    color: #00f;
}


/* Value part css */
.ValueSection{
    margin-bottom: 60px;
}
.ValIconL i{
	font-size: 50px;
	color: #e73c3e;
	margin-top: 10px;
	margin-right: 25px;
}
.ValIconL .keyicon {
	display: inline-block;
	transform: rotate(-45deg);
}
.ValueHead{
    margin-bottom: 10px;
}
.ValueHead h2{
	font-size: 25px;
}
.ValueHead p{
	font-size: 17px;
}
.ValueSecRight img{
    margin-top: 40px;
}


/* Service section part css */
.serviceSection{
    padding: 80px 0px;
    background-color: #f9fafb;
}
.serviceHeader h6{
    color: #e73c3e;
    font-weight: 400;
}
.serviceHeader h1{
    font-size: 34px;
}
.serviceHeader p{
    font-size: 17px;
}

.serviceTabHeader{
    padding: 40px 0px;
    border-bottom: 1px solid #bebebe;
}
.serviceTabHeader li i {
	font-size: 30px;
	color: #e73c3e !important;
	background-color: #fff;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin: auto;
    box-shadow: 0px 0px 20px 0px #bebebe;
    margin-bottom: 10px;
}
.serviceTabHeader li strong {
	color: #000;
	font-size: 20px;
}

.serviceright {
	padding-bottom: 7px;
}
.serviceright h3 {
	padding-bottom: 5px;
}
.serviceright p {
	font-size: 16px;
	line-height: 25px;
}
.servicesmainright ul{
    list-style: none;
    padding-left: 0;
}
.servicesmainright ul li::before {
	content: "";
    display: inline-block;
	background-color: #e73c3e;
	width: 10px;
	height: 10px;
	border-radius: 50%;
    margin-right: 10px;
}


/* Client Section part css */
.clientSection{
    padding: 70px 0px;
}
.clientDls p{
	font-size: 24px;
}
.clientDls h4{
	font-size: 18px;
	padding-bottom: 5px;
	color: #e73c3e !important;
}
.clientDls h6{
	font-size: 15px;
}


/* Team section part css */
.TeamSection{
    background-color: #f9fafb;
    padding: 70px 0px;
}
.teamimg{
    position: relative;
    margin-bottom: 20px;
}
.teammemSocIcon{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.teammemSocIcon ul{
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-bottom: 30px;
}
.teammemSocIcon ul li{
    display: inline-block;
    padding: 0px 1px;
    transform: translateY(40px);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.teammemSocIcon ul li a{
    display: block;
    color: #000;
    background-color: #fff;
    padding: 7px 12px;
    border-radius: 50%;
    font-size: 15px;
    transition: 0.4s;
}
.teammemSocIcon ul li:nth-child(1){
    transition: 0.3s;
}
.teammemSocIcon ul li:nth-child(2){
    transition: 0.4s;
}
.teammemSocIcon ul li:nth-child(3){
    transition: 0.5s;
}
.teammemSocIcon ul li:nth-child(4){
    transition: 0.6s;
}
.teamdlpart:hover .teammemSocIcon ul li{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}
.teammemSocIcon ul li a:hover{
    background: #e73c3e;
    color: #fff;
}
.Tmemdls h5 {
	color: #e73c3e !important;
}
.Tmemdls p {
	font-size: 15px;
}


/* News part css */
.newsSection{
    padding: 80px 0px;
}
.newsContent p{
    color: #e73c3e;
}
.newsContent h3{
    margin-bottom: 10px;
}
.newsContent h3 a{
	transition: 0.3s;
	font-size: 23px;
}
.newsContent a{
    text-decoration: none;
    color: #000;
}
.newsContent strong a {
	transition: 0.5s;
	font-size: 15px;
}
.newspart:hover .newsContent strong a{
    color: #e73c3e;
    letter-spacing: 1px;
}
.newsContent h3:hover a{
    color: #e73c3e;
}



/* End part css */
.EndSection{
    background: #000;
    padding: 70px 0px;
}
.ptag p{
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}
.socialicondiv ul{
    list-style: none;
    padding-left: 0;
}
.socialicondiv ul::before{
    content: "Follow us:";
    color: #fff;
    padding-right: 10px;
}
.socialicondiv ul li{
    display: inline-block;
    padding: 0px 5px;
}
.socialicondiv ul li a{
    display: block;
    color: #fff;
    transition: 0.4s;
}
.socialicondiv ul li a:hover{
    color: #e73c3e;
}

.FmidleHeader h4 {
	color: #fff;
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #706d6d;
	margin-bottom: 0;
}
.Fmidlelist ul{
    list-style: none;
    padding-left: 0;
}
.Fmidlelist ul li{
    display: block;
}
.Fmidlelist ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    transition: 0.4s;
}
.Fmidlelist ul li a:hover{
    color: #e73c3e;
    letter-spacing: 1px;
}
.locationIcon i{
    font-size: 30px;
    color: #fff;
    margin-right: 15px;
}
.locationContent p{
	font-size: 18px;
	color: #fff;
	font-weight: 500;
}
.messageIcon i{
    font-size: 30px;
    color: #fff;
    margin-right: 15px;
}
.messageContent h6 a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: 0.5s;
}
.messageContent h6 a:hover{
    color: #e73c3e;
}
.phoneVIcon i{
    font-size: 30px;
    color: #fff;
    margin-right: 15px;
    transform: rotate(-50deg);
}
.phoneVContent h6 a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: 0.5s;
}
.phoneVContent h6 a:hover{
    color: #e73c3e;
}


/* Ses footer part css */
.SesFooter{
    background: #000;
    padding: 30px 0px;
    border-top: 1px solid #706d6d;
}
.footerLast h6{
    color: #686363;
}
.footerLast h6 span a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    transition: 0.4s;
}
.footerLast h6 span a:hover{
    color: #e73c3e;
}