*{
    margin: 0;
    padding: 0;
}

.potaka {
	margin-top: 20px;
}

.lathi{
    width: 10px;
    height: 700px;
    background-color: black;
    display: inline-block;
    margin-left: 400px;
}

.sabuj{
    height: 350px;
    width: 700px;
    background-color: green;
    margin: auto;
    margin-top: -704px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lal{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
}